

@{
    ViewData["Title"] = "Home Page";
    
    Layout = "/Views/Shared/_LabLayout.cshtml";

}
<br />

<h1 id="heading1"><b>Nompilo Primary Health Care</b></h1>
<hr />
<br />
<div id="slideShowContainer" class="align-content-center">
    <img src="~/css/p1.jpg" />
    <img src="~/css/p2.jpg" />
    <img src="~/css/p3.jpg" />
</div>
<div>

    <body class="btm">
        <h1 class="hed">WALK-IN PATIENT <img src="~/css/walkin.jpg" class="wlk" /></h1>
        <p class="bhokx">A walk-in patient is someone who goes to a healthcare provider without an appointment.Walk-In patients are able to make a same day appointment.<br />e-Nompilo Clinic is a healthcare provider that allows            patients to be seen without an appointment<br>and can include urgent care, retail clinics, and emergency rooms</p>
        <br />

        <h1 class="hed">PRE-NATALCARE <img src="~/css/PREN1.jpg" class="wlk" /></h1>
        <p class="bhokx">Prenatal care refers to the medical and nursing care for women during pregnancy. The aim of prenatal care is to foresee any potential problems as early as possible. Prenatal visits to a health care provider usually include a physical exam, weight checks, and providing a urine sample. Depending on the stage of the pregnancy, health care providers may also do blood tests and imaging tests, such as ultrasound exams. These visits also include discussions about the mother's health, the fetus's health, and any questions about the pregnancy<br />e-Nompilo Clinic is a healthcare provider  that provides free pre-natal care services </p>


        <h1 class="hed">PATHOLOGY <img src="~/css/PATH.jpg" class="wlk" /></h1>
        <p class="bhokx">Pathology is a branch of medical science that involves the study and diagnosis of disease through the examination of surgically removed organs, tissues (biopsy samples), bodily fluids, and in some cases the whole body (autopsy).<br> Pathology also includes the related scientific study of disease processes whereby the causes, mechanisms and extent of disease are examined. Areas of study include cellular adaptation to injury, necrosis (death of living cells or tissues), inflammation, wound healing, and neoplasia (abnormal new growth of cells). Pathologists specialize in a wide range of diseases including cancer and the vast majority of cancer diagnoses are made by pathologists. The cellular pattern of tissue samples are observed under a microscope to help determine if a sample is cancerous or non-cancerous.</p>

        <br />
        <h1 class="hed">FAMILY-PLANNING <img src="~/css/FAMIL.jpg" class="wlk" /></h1>
        <p class="bhokx">Family planning is the consideration of the number of children a person wishes to have, including the choice to have no children, and the age at which they wish to have them. Things that may play a role on family planning decisions include marital situation, career or work considerations, financial situations. If sexually active, family planning may involve the use of contraception and other techniques to control the timing of reproduction.eNompilo offers advanced successful family planning methods </p>

        <br />
        <h1 class="hed">CHRONIC MEDICATION <img src="~/css/CHRNC.jpg" class="wlk" /></h1>
        <p class="bhokx"> Chronic medicine is medication that is used on an ongoing basis to treat long-lasting (chronic) illnesses that can be disabling and/or potentially life-threatening, such as diabetes or high blood pressure. Chronic medicines need to be taken regularly, over a long period, to manage the symptoms or control the effects of the chronic illness. A patient with a chronic disease is issued with a repeat prescription for six months</p>
    </body>
</div>
<br>
<hr />
