
@{
    ViewData["Title"] = "BloodSample";
    Layout = "~/Views/Shared/_LabLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            transition: all 725ms ease-in-out;
            /*text-align: center;*/ /* Center-align text in the body */
        }

        h1 {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
            text-align: center;
        }

        h3 {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
            text-align: center; 
        }

        p {
            margin-bottom: 1rem;
            color: black;
            text-align: center; 
        }

        button {
            cursor: pointer;
            appearance: none;
            border-radius: 4px;
            font-size: 1.25rem;
            padding: 0.75rem 1rem;
            border: 1px solid navy;
            background-color: dodgerblue;
            color: white;
        }

        /* Center-align images */
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1 id="heading1" class="text-center"><b>Blood Sample</b></h1>



    <p>
        Patient Preparation: The individual undergoing the test may be asked to wash their hands and may need to confirm their identity to ensure accurate labeling of the blood sample.

    </p>
    <p>
        Gather Supplies: A healthcare professional will gather the necessary supplies, including a sterile needle, a vacuum tube or container for blood collection, a tourniquet, alcohol swabs, and adhesive bandages.

    </p>
    <p>
        Venipuncture: The healthcare professional will select a suitable vein, often in the arm, and clean the area with an alcohol swab. They will then tie a tourniquet above the chosen vein to make it more visible and to slow the blood flow, making it easier to collect.

    </p>
    <p>
        Needle Insertion: The healthcare professional will insert the sterile needle into the vein. The needle is attached to the vacuum tube, which will start collecting blood as it's inserted.

    </p>
    <p>

        Blood Collection: Blood will be drawn into the vacuum tube. Typically, multiple tubes may be collected for various tests, including HIV, so the healthcare professional will switch out tubes as needed.

    </p>
    <p>
        Needle Removal: Once enough blood has been collected, the needle is carefully removed from the vein.

    </p>
    <p>
        Pressure and Bandaging: A sterile cotton ball or gauze pad is applied to the puncture site, and the individual may be asked to apply pressure to stop any bleeding. An adhesive bandage is placed over the puncture site to protect it.

    </p>
    <p>
        Labeling and Documentation: Each blood sample tube is labeled with the patient's information, including name and date of birth, to ensure accurate tracking and results.

    </p>
    <p>
        Transport to the Laboratory: The blood samples are carefully packaged and transported to a laboratory for analysis.

    </p>
   
    
   
    
   
    
   

    
    
</body>
</html>
