
@{
    ViewData["Title"] = "BodySample";
    Layout = "~/Views/Shared/_LabLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            transition: all 725ms ease-in-out;
            /*text-align: center;*/ /* Center-align text in the body */
        }

        h1 {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
            text-align: center;
        }

        h3 {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
            text-align: center;
        }

        p {
            margin-bottom: 1rem;
            color: black;
            text-align: center;
        }

        button {
            cursor: pointer;
            appearance: none;
            border-radius: 4px;
            font-size: 1.25rem;
            padding: 0.75rem 1rem;
            border: 1px solid navy;
            background-color: dodgerblue;
            color: white;
        }

        /* Center-align images */
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1 id="heading1" class="text-center"><b>Body Sample</b></h1>

    

    <p>
        Allow drops of blood to collect and fall into the microtainer, gently shaking the tube after
        each drop to prevent clotting.
    </p>
    
    <p>
        Do not squeeze the puncture site as this will dilute the blood with tissue fluid.
    </p>

    <p>
        Provide a minimum of at least 250µl.
    </p>

    <p>
        Place the lid on the microtainer (if purple top, invert several times to prevent clot
        formation).
    </p>



</body>
</html>