
@{
    ViewData["Title"] = "WaitingPatients";
}
@{
    Layout = "FBackLayout";


}

<p>Opps...You are not suppose see this. Website Under construction <span style='font-size:100px;'>&#9888;</span></p>
